<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title" id="dialogAddExceso">Confirma Carga Obleas</h4>
        </div>
        <div class="modal-body" id="confirm-body">
            <span>Valores Ingresados</span>

            <ul>
                <li>Planta: {{ taller_name }}</li>
                <li>Inicio: {{ cert_init }}</li>
                <li>Fin: {{ cert_end }}</li>
                <li>Cantidad de Certificados a ingresar: {{ cert_count }}</li>
            </ul>
            <button class="btn btn-sm btn-primary" hx-get="{% url 'carga_obleas' %}" hx-target="#confirm-body">
                Confirmar
            </button>
        </div>
        <button id="modalCloser" hx-get="/empty" hx-target="#modal" hx-swap="outerHTML" hx-trigger="click"
            class="btn btn-primary">Cerrar</button>
    </div>
</div>
