<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title" id="dialogAddExceso">Error carga Obleas</h4>
        </div>
        <div class="modal-body">
            <span>Revisar los Valores ingresados</span>
        </div>
        <button id="modalCloser" hx-get="/empty" hx-target="#modal" hx-swap="outerHTML" hx-trigger="click"
            class="btn btn-primary">Cerrar</button>
    </div>
</div>
