{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div id="component" class="container-fluid py-3">
    <div class="position-relative bg-white  row">
        <div class="position-absolute bg-secondary col-xxl-8">
        </div>
        <div class="position-absolute bg-success-subtle rounded-5 col-xxl-4">
        </div>
        <div class="position-absolute bg-success-subtle rounded-5 col-xxl-4">
        </div>
        <div class="position-absolute bg-success-subtle rounded-5 col-xxl-4">
        </div>
        <div class="position-absolute bg-success-subtle rounded-5 col-xxl-4">
        </div>
        <img class="position-absolute rounded-5 col-xxl-2" src="https://via.placeholder.com/312x81">
        <img class="position-absolute rounded-5 col-xxl-2" src="https://via.placeholder.com/303x201">
        <img class="position-absolute rounded-5 col-xxl-2" src="https://via.placeholder.com/287x81">
        <img class="position-absolute rounded-5 col-xxl-2" src="https://via.placeholder.com/343x148">
        <img class="position-absolute rounded-4 col-xxl-2" src="https://via.placeholder.com/397x154">
        <img class="position-absolute rounded-5 col-xxl-2" src="https://via.placeholder.com/304x201">
    </div>
</div>

{% endblock %}
