{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid py-4">
    <div class="row">

        <!-- ITEM -->
        <div class="row">
            <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Consulta Verificaciones</p>
                    <!-- <h5 class="font-weight-bolder mb-0">
                                    Vista Verificaciones
                                </h5> -->
                </div>
            </div>
            <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">

                    <a href="{% url 'verificaciones' %}" class="btn btn-fill btn-sm btn-primary">
                        <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- ITEM -->
        <div class="row">
            <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Consulta Certificados</p>
                    <!-- <h5 class="font-weight-bolder mb-0">
                                    Vista Verificaciones
                                </h5> -->
                </div>
            </div>
            <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">

                    <a href="{% url 'certificados' %}" class="btn btn-fill btn-sm btn-primary">
                        <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- ITEM -->

        <div class="row">
            <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Consulta Vehiculos</p>
                    <!-- <h5 class="font-weight-bolder mb-0">
                                    Vista Verificaciones
                                </h5> -->
                </div>
            </div>
            <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">

                    <a href="{% url 'vehiculos' %}" class="btn btn-fill btn-sm btn-primary">
                        <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- ITEM -->
        <div class="row">
            <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Consulta Obleas Asignadas</p>
                    <!-- <h5 class="font-weight-bolder mb-0">
                                    Vista Verificaciones
                                </h5> -->
                </div>
            </div>
            <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">

                    <a href="{% url 'certs_asignados' %}" class="btn btn-fill btn-sm btn-primary">
                        <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- ITEM -->
        <div class="row">
            <div class="col-8">
                <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Carga Obleas</p>
                    <!-- <h5 class="font-weight-bolder mb-0">
                                    Vista Verificaciones
                                </h5> -->
                </div>
            </div>
            <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">

                    <a href="{% url 'carga_obleas' %}" class="btn btn-fill btn-sm btn-primary">
                        <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!-- ITEM -->
    <div class="row">
        <div class="col-8">
            <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Consulta Disponibilidad Obleas</p>
                <!-- <h5 class="font-weight-bolder mb-0">
                                    Vista Verificaciones
                                </h5> -->
            </div>
        </div>
        <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">

                <a href="{% url 'resumen_obleas' %}" class="btn btn-fill btn-sm btn-primary">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- ITEM -->
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block scripts %}
{% endblock scripts %}
