{% extends 'layouts/base.html' %}
{% load static %}
<style>
    .box {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px dashed #000000; */
        /* margin: auto; */
    }

    element-to-hide {
        display: flex;
    }

    link-row {
        margin: mb-8 mt-8 mx-auto;
    }

    .title-special {

        width: 50%;
        height: auto;
        display: block;
        justify-content: center;
        align-items: center;
        /* border: 1px solid #000000; */
        margin: 0 auto;
    }

    /* Media query for screens with a maximum width of 768px (typical for mobile devices) */
    @media screen and (max-width: 768px) {

        /* Adjust the styles for mobile screens */
        .element-to-hide {
            display: none;
        }

        .box {
            /* Define the styles you want for the 'box' class on mobile screens */
            /* For example, you may want to change the display property to 'block' and remove width and height */
            display: flex;
            width: 50%;
            height: auto;
            justify-content: center;
            align-items: center;
        }

        .container-fluid {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card-body {
            flex: 1 1 auto;
            padding: 1rem 1rem;
            /* Adjust the padding values as needed for size */
            font-size: 12pt;
            /* Adjust the font size as needed */
            /* padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); */
            /* color: var(""); */
        }
    }

    .card-body {
        flex: 1 1 auto;
        padding: 4rem 4rem;
        /* Adjust the padding values as needed for size */
        font-size: 18pt;
        /* Adjust the font size as needed */
        /* padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); */
        /* color: var(""); */
    }

    img {
        width: 30%;
        min-width: 100px;
        height: auto;
        margin: auto;
    }

</style>

{% block content %}
<div id="template-container" hx-get="/get-template/" hx-trigger="load" hx-target="#template-container"
    hx-vals="js{width:window.screen.width}">
    <!-- The fetched template will be loaded here -->
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Trigger the htmx request on page load to get the template based on screen size
        document.querySelector('[hx-trigger="load"]').click();
    });
</script>
{% endblock scripts %}
