{#% extends 'layouts/base.html' %#}
{% load static %}
{#% block content %#}

</style>

<div class="container-fluid py-2 px-3">
    <div class="row mb-6 mt-4 link-row">

        <div class="col-lg-12 col-md-12 col-sm-12 ">
            <div class="card my-4 element-to-hide">
                <div class="col-lg-12 col-md-12 col-sm-12 title-special">
                    <img class="d-block" style="width: 50%; height: auto;"
                        src="{% static 'img/logos/LOGO_UNCOMA.png' %}">
                </div>
            </div>
            <div class="card">


                <div class="card-body p-1">

                    <div class="row mb-2 mt-4">

                        <div class="col-lg-12 col-md-12 col-sm-12 box">
                            <a href="{% url 'dvr' %}">
                                <!-- <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i> -->
                                <img class="d-block" src="{% static 'img/logos/LOGO_DVR.png' %}">
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
</div>
</div>
{#% endblock content %#}
