{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <a href="{% url 'model1_view' %}" class="my-button">Model 1</a>
    </div>
    <div class="col-sm-3">
      <a href="{% url 'model2_view' %}" class="my-button">Model 2</a>
    </div>
    <div class="col-sm-3">
      <a href="{% url 'model3_view' %}" class="my-button">Model 3</a>
    </div>
    <div class="col-sm-3">
      <a href="{% url 'model4_view' %}" class="my-button">Model 4</a>
    </div>
  </div>
</div>
{% endblock contente %}