<!-- templates/base.html -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>

<body>
  {% block header %}
  <!--Preloader-->
  <div class="preloader-wrapper">
    <div class="preloader">
      {% load static %}
      <img src='{% static "images/loader.gif" %}'>
    </div>
  </div>
  <!--Header-->
  <div class="header py-4">
    <div class="container">
      <div class="d-flex">
        <a class="header-brand" href="{% url 'login' %}">
          {% load static %}
          <img src='{% static "images/banner_taller_nqn_1.png" %}' id="bannerRN1" class="h-8" alt="RTO Neuquén Logo">
          {% load static %}
          <img src='{% static "images/banner_taller_nqn_2.png" %}' id="bannerRN2" class="h-8" alt="RTO Neuquén Logo">
        </a>
        <div class="d-flex order-lg-2 ml-auto">
          <div class="dropdown">
            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
              <span class="avatar" style="background-image: url(./static/images/blank.png)"></span>
              <span class="ml-2 d-none d-lg-block">
                <span class="text-default">
                  {{ user.username }}
                </span>
                <small class="text-muted d-block mt-1">
                  AQUI IRIA ID TALLER
                </small>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="dropdown-icon fe fe-log-out"></i> Salir
              </a>
            </div>
          </div>
        </div>
        <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
          data-target="#headerMenuCollapse">
          <span class="header-toggler-icon"></span><span id="notiToogle" style="display:none;"><i class='fa fa-circle'
              style='font-size:7px;color:#bd0d0d;'></i></span>
        </a>
      </div>
    </div>
  </div>
  <!-- INICIA EL MENU -->

  <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg order-lg-first">
          <!-- CONTENIDO DEL MENU DE CENTRAL -->
          <div id='cssmenu'>
            <ul>
              {% if user.is_authenticated %}
              <ul>
                <li><a href='CargarHabilitacion.php'><span>Cargar orden inspección</span></a></li>
                <li><a href='ListadoHabilitaciones.php'><span>Listar órdenes inspección</span></a></li>
              </ul>

              <ul>
                <li><a href='ListadoVerificaciones.php'><span>Listar Revisiones</span></a></li>
              </ul>
              <li class='has-sub '><a href='#'><span>Veh&iacute;culos</span></a>
                <ul>
                  <li><a href='ListadoVehiculos.php'><span>Listar Veh&iacute;culos</span></a></li>
                </ul>
              </li>

              <li><a href='Talleres.php'><span>Listar Plantas</span></a></li>
              </li>

              <!--<li><a href='http://200.58.100.32/cccf/listadoCertificados.php' target='_blank'><span>CCCF</span></a></li>-->

            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--Back-to-top button-->
    <span id="toTheTop" onclick="topFunction()" title="Volver arriba"><i class="fe fe-chevron-up"></i></span>

    <!-- TERMINA CONTENIDO DEL MENU -->
    {% else %}
    Debe autenticarse!
    {% endif %}
    {% endblock %}

    <main>
      {% block content %}
      {% endblock %}
    </main>
    {% block footer %}

    {% endblock %}
</body>

</html>