{% load static %}
<a hx-get="{% url "cccf_modal" nrocertificado=nrocertificado dominio=dominio %}"
   hx-target="body"
   hx-headers="X-CSRFToken: '{{ csrf_token }}'"
   hx-swap="beforeend"
   style="display: block">
   <img src="{% static 'img/small-logos/delete.png' %}" width="25px" />
</a>

<!-- <a hx-post="{% url delete_url nrocertificado=nrocertificado dominio=dominio %}"
     hx-target="#message-container"
     hx-swap="innerHTML"
     hx-headers="X-CSRFToken: '{{ csrf_token }}'"
     style="display: block">
     <img src="{% static 'img/small-logos/delete.png' %}" width="25px" />
     </a> -->
