    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-4 mx-auto text-center">
            Facultad Ingeniería - Universidad Nacional del Comahue - v 3.0
          </div>
        </div>
        <!-- <div class="row">
             <div class="col-8 mx-auto text-center mt-1">
             <p class="mb-0 text-secondary">
             &copy; <a href="https://bit.ly/3fKQZaL" class="text-muted" target="_blank">Creative Tim</a> - coded by AppSeed.
             </p>
             </div>
             </div> -->
      </div>
    </footer>
    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
