{% load crispy_forms_tags %}

<form hx-get="{% url render_url %}" hx-swap="afterbegin" hx-target="#table_div" hx-trigger="submit">
    <div class="container-fluid py-4">

        <table width="90%" style="margin-left: 10px;">
            <tr>
                {% csrf_token %}
                {{ form|crispy }}
            </tr>
        </table>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Buscar</button>
            <button type="button" class="btn btn-primary btn-block" hx-get="{% url 'empty' %}" hx-trigger="click" hx-target="#table_div"
                hx-swap="innerHTML">
                Limpiar Búsqueda
            </button>
        </div>
    </div>
</form>
