<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title" id="dialogAddExceso">Resultado Carga</h4>
        </div>
        <div class="modal-body">
            Error al Cargar el Certificado, intente de nuevo.
        <button hx-get="{% url 'cccf_listar' %}" hx-swap="outerHTML" hx-target="body" hx-trigger="onclick">
            Regresar
        </button>
        </div>
    </div>
</div>
