<div></div>
<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title" id="dialogAddExceso">Agregar Exceso de Velocidad</h4>
        </div>
        <div class="modal-body">
            <div id="msg-container">
            </div>
            <form hx-get="{% url "cccf_add_exceso" %}" hx-target="#msg-container" type="submit"
                hx-vals='js:{nrocertificado:document.getElementById("id_nrocertificado").value}' hx-swap="innerHTML"
                hx-trigger="submit">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Fecha" class="control-label">Fecha:</label>
                            <input
                                class="form-control fecha input-sm datepicker"
                                id="fecha" name="fecha" type="date">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Hora" class="control-label">Hora (00:00 a 23:59)</label>
                            <input class="form-control hora input-sm"
                                id="hora" name="hora" type="time">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="velocidadsobrepaso" class="control-label">Velocidad de Sobrepaso:</label>
                            <input type="number" step="1" name="velocidadsobrepaso"
                                placeholder="Velocidad de Sobrepaso"
                                class="form-control velocidadsobrepaso">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="tiempovelocidadexceso" class="control-label">Tiempo Vel. Exceso
                                (min):</label>
                            <input type="number" step="1" name="tiempovelocidadexceso"
                                placeholder="Tiempo Velocidad Exceso"
                                class="form-control tiempovelocidadexceso">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modalCloser" hx-get="/empty" hx-target="#modal" hx-swap="outerHTML" hx-trigger="click"
                        class="btn btn-primary">Cancelar</button>
                    <!-- TODO HTMX Request here... -->
                    <button type="submit" class="btn btn-primary btn-block">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>
