<html>

{% load static %}

<head>
    <meta charset="UTF-8">
    <!-- Other head content -->
</head>

<style>
    @media print {
        .new-page {
            page-break-before: always;
        }
    }

</style>

<body>
    {{ contenido_original }}
    <p class="new-page">
        {{ anexo }}
    </p>

    <p class="new-page">
        {{ contenido_duplicado }}
    </p>

    <p class="new-page">
        {{ anexo }}
    </p>

    <p class="new-page">
        {{ contenido_triplicado }}
    </p>
    <p class="new-page">
        {{ anexo }}
    </p>

</body>
