<html>

{% load static %}

<head>
    <meta charset="UTF-8">
    <!-- Other head content -->
</head>

<style>
    @media print {
        .new-page {
            page-break-before: always;
        }
    }

</style>

<body>
    <!-- <page footer='page' pagegroup='new' backbottom='10mm' backtop='40mm'> -->
    <p class="new-page">
        {{ contenido_original }}
    </p>
    <!-- </page> -->
    <!-- <page orientation='p' footer='page' backbottom='80mm' backtop='40mm'> -->
    <p class="new-page">
        {{ anexo }}
    </p>
    <!-- </page> -->

    <!-- <page footer='page' pagegroup='new' backbottom='10mm' backtop='40mm'>
         contenido_duplicado
        </page>
        <page orientation='p' footer='page' backbottom='80mm' backtop='40mm'>
         anexo
        </page>

        <page footer='page' pagegroup='new' backbottom='10mm' backtop='40mm'>
         contenido_triplicado
        </page>
        <page orientation='p' footer='page' backbottom='80mm' backtop='40mm'>
         anexo
        </page> -->
</body>
