<page orientation='p' footer='page' backbottom='80mm' backtop='40mm'>
    <page_header>
        <table align='center' cellpadding='0' width='780' cellspacing='0'>
            <tr>
                <!-- <td><img src='{{ STATIC_URL }}/img/logos/LOGO_UNCOMA.png' align='top' /></td> -->
                <td><img src='/home/code/staticfiles/img/logos/LOGO_UNCOMA.png' width="300px" align='top' /></td>
                <td><img src='/home/code/staticfiles/img/logos/LOGO_DPT.png' width="300px" align='top' /></td>
            </tr>
        </table>
    </page_header>
    <div style="background-color: #fff;font-family: Arial, Geneva, sans-serif;font-size: 10pt;">

        <table>
            <tr>
                <td style="text-align:center;width:780px">
                    <strong><big>CERTIFICADO DE CALIBRACION Y CORRECTO FUNCIONAMIENTO</big></strong>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;width:780px">
                    <br />
                    <big><strong>ANEXO II: REPORTE</strong></big>
                </td>
            </tr>
        </table>

        <table cellpadding="0" cellspacing="0">
            <tr>
                <td style="text-align:left">
                    <br />
                    Servicio Técnico Oficial: {{ cccf.idtaller.nombre }}
                    <br />
                </td>
            </tr>
            <tr>
                <td style="text-align:center">
                    &nbsp;
                </td>
            </tr>

            <tr>
                <td>
                    <table style="width:780px;">
                        <tr>
                            <td style="text-align:left; border: solid 1px;">
                                <p style="text-align:center"><strong>Identificación del vehículo</strong></p>
                                Razón Social/Empresa: {{ cccf.idempresa.razonsocial }}
                                <p>
                                    CUIT: {{ cccf.idempresa.cuit }}
                                </p>
                                Dominio: {{ cccf.dominio }}&nbsp;&nbsp;&nbsp;
                                Nro. Interno: {{ cccf.nrointerno }}&nbsp;&nbsp;&nbsp;
                                Nro. Certificado: {{ cccf.nrocertificado }}
                            </td>
                            <td style="text-align:center;vertical-align: middle">
                            <td valign="bottom">
                                <div>
                                    <img src="{{ barcode_path }}" width="300">
                                </div>
                            </td>
                </td>
            </tr>
        </table>
        </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        </table>
    </div>
    <div style="background-color: #fff;font-family: Arial, Geneva, sans-serif;font-size: 10pt; ">
        <table class="table table-bordered" style="border: 1px solid; width: 690px;">
            <thead>
                <tr>
                    <th class="text-center" style='width: 112px;'>
                        Cant. Desc.
                    </th>
                    <th class="text-center" style='width: 112px;'>
                        Horas Desc.
                    </th>
                    <th class="text-center" style='width: 112px;'>
                        Apertura Equipo
                    </th>
                    <th class="text-center" style='width: 112px;'>
                        Retiro Elemento Grabación
                    </th>
                    <th class="text-center" style='width: 112px;'>
                        Falla Dispositivo
                    </th>
                    <th class="text-center" style='width: 112px;'>
                        Falta Inf.
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span>{{ cccf.desconexioncantidad }}</span>
                    </td>
                    <td class="desconexionhora">
                        <span>{{ cccf.desconexionhora }}</span>
                    </td>
                    <td class="aperturaequipo">
                        <span>{{ cccf.aperturaequipo }}</span>
                    </td>
                    <td class="retiroelementograbacion">
                        <span>{{ cccf.retiroelementograbacion }}</span>
                    </td>
                    <td class="fallasdispositivo">
                        <span>{{ cccf.fallasdispositivo }}</span>
                    </td>
                    <td class="faltainformacion">
                        <span>{{ cccf.faltainformacion }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Excesos de velocidad</b>
    <br><br>
    <span style="font-family: Arial, Geneva, sans-serif;font-size: 10pt;width:750px">
        {% if sinexcesos %}
        Sin Exceso de Velocidad
        {% else %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Velocidad de Sobrepaso</th>
                    <th>Tiempo Velocidad de Sobrepaso</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in cccf_excesos %}
                <tr>
                    <td>{{ instance.numero }}</td>
                    <td>{{ instance.fecha }}</td>
                    <td>{{ instance.hora }}</td>
                    <td>{{ instance.velocidadsobrepaso }}</td>
                    <td>{{ instance.tiempovelocidadexceso }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </span>

    <page_footer>
        <div style='text-align: right; padding-bottom: 150px;padding-right: 80px'>Firma Responsable</div>
    </page_footer>
</page>
