<!-- TODO maybe this into a div? -->
{% load getattr %}
{% load i18n static %}

<table cellspacing='1' border='1' id='tbCab'>
    <tr>
        <td>
            <img src="{% static 'img/logos/LOGO_UNCOMA.png' %}" alt='Logo Unco' align='left' style='margin:10px;'
                width="500px" />
            <br />
            <h3 style='display:inline;'>UNIVERSIDAD NACIONAL DEL COMAHUE</h3> <br />
            <h4 style='display:inline;'>FACULTAD DE INGENIERIA</h4>
        </td>
        <td>
            <p style='margin-left:10px;'>
                <b>Planta</b>: {{ taller.nrotaller }} - {{ taller.nombre }} <br /><b>CUIT</b>: {{ taller.cuit }} <br />
                <b>Direcci&oacute;n</b>: {{ taller.direccion }} / {{ taller.idlocalidad.descripcion }}
            </p>
        </td>
    </tr>
    <tr>
        <td colspan='2' align='center'><b>RESUMEN PERIODO: {{ fecha_desde }} - {{ fecha_hasta }}</b></td>
</table>
<br />


{% for cat, verifs in verificaciones.items %}
<!-- <div class="card col-6">
    <div class="card-body">
    </div>
</div> -->
<!-- <table cellspacing='0' class='tblDatos'> -->

<div class="card col-6 box">
    <h3>Categoría: {% query_dict CATEGORIAS cat %}</h3>
    <h3>Cantidad: {% query_dict certs_count_categoria cat %}</h3>
    <div class="card-body">
        <table cellspacing='0' class='table-md'>
            <!-- <table width='100%' cellspacing='0' class='tblDatos'> -->
            <tr>
                <th width='200px'>Estado</th>
                <!-- <th width='200px'>Tipo Uso Vehiculo</th> -->
                <th width='100px'>Cantidad</th>
            </tr>

            <tr>
                <td align='center' width='200px'>Aprobados</td>
                <td>
                    {% for v in verifs %}
                    {% if v.idestado == 1 %}
                </td>
            </tr>
            <td>
                <tr>
                    <td align='left' width='200px'>{% query_dict TIPO_USO v.idtipouso %}</td>
                    <td align='center' width='100px'>{{ v.cant_verifs }}</td>
                </tr>
            </td>
            {% endif %}
            {% endfor %}
            <tr>
                <td align='center' width='200px'>Aprobado Condicional</td>
                <td>
                    {% for v in verifs %}
                    {% if v.idestado == 3 %}
                </td>
            </tr>
            <tr>
                <td align='left' width='200px'>{% query_dict TIPO_USO v.idtipouso %}</td>
                <td align='center' width='100px'>{{ v.cant_verifs }}</td>
            </tr>
            {% endif %}
            {% endfor %}

            <tr>
                <td align='center' width='200px'>Rechazado</td>
                <td>
                    {% for v in verifs %}
                    {% if v.idestado == 2 %}
                </td>
            </tr>
            <tr>
                <td align='left' width='200px'>{% query_dict TIPO_USO v.idtipouso %}</td>
                <td align='center' width='100px'>{{ v.cant_verifs }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>

        <div class="card col-6">
            <div class="card-body">
                <p>Certificados Reverificados correspondientes a Otro Per&iacute;odo:</p>
                Cantidad: {% query_dict reverificados_cant cat %}
            </div>
            <div class="card-body">
                Certificados: {% query_dict reverificados cat %}
            </div>
        </div>
    </div>
</div>
{% endfor %}


<!-- TODO LOS CERTIFICADOS DE OTRO PERIODO -->
<!-- $sql2 = " SELECT V1.idVerificacion,C.NroCertificado FROM
         verificaciones V1
         INNER JOIN verificaciones R ON (V1.idVerificacionOriginal = R.idVerificacion AND V1.idTaller = R.idTaller)
         INNER JOIN certificados C ON (V1.idVerificacion = C.idVerificacion AND V1.idTaller = C.idTaller)
         WHERE V1.idTaller = $taller AND V1.Reverificacion = 1 AND V1.Fecha >= '".formatFecha($fechaD)."'
         AND V1.Fecha <= '".formatFecha($fechaH)."' AND R.Fecha < '".formatFecha($fechaD)."' AND C.idCategoria=".$row["idCategoria"];

         $Fuera=$base->query($sql2);
         if ($Fuera){
         $certNum = "";
         foreach ($Fuera as $rowFi)
         {
         $certNum .= " - ".$rowFi["NroCertificado"];
         }

         } -->
