{% extends "layouts/base.html" %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block content %}
<h2><a href="#">Carga CCCF</a></h2>

<div id="success-message">
</div>

<form hx-post="{% url 'cccf_carga' %}" hx-swap="innerHTML" hx-target="#success-message" hx-trigger="submit"
    enctype="multipart/form-data">
    <div class="card-body p-1">
        {% csrf_token %}
        {% crispy form %}
        <div class="panel panel-default excesos" style="font-size: smaller">
            <div class="row clearfix">
                <div class="col-md-12 column" id="table-excesos">
                </div>

                <div class="col-md-6 column" id="sin-excesos">
                    <!-- <label for="SinExcesos">
                                            <input type="checkbox" id="SinExcesos" name="SinExcesos" value="1" />
                                            Sin Excesos de Velocidad
                                        </label><br /> -->
                    <label>Para agregar excesos de velocidad haga click en Agregar Fila</label>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div hx-get="{% url 'cccf_exceso_table' %}" hx-swap="innerHTML" hx-target="#table-excesos"
                hx-trigger="reloadTableExcesos from:body"
                hx-vals='js:{nrocertificado:document.getElementById("id_nrocertificado").value}'>
            </div>
            <button hx-get="{% url 'cccf_modal_excesos' %}" hx-target="body"
                hx-headers="X-CSRFToken: '{{ csrf_token }}'" hx-swap="beforeend" class="btn btn-primary">
                Agregar Fila
            </button>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Cargar Certificado">
</form>

<script>
    htmx.on("htmx:response", function (event) {
        if (event.detail.elt === document.querySelector(".tblForm")) {
            // Handle the response here if needed
        }
    });
</script>
{% endblock %}
