<!-- myapp/mymodel_list.html -->
{% extends 'layouts/base.html' %}

{% block content %}
{% load render_table from django_tables2 %}
{% load getattr %}
{% load static %}
{% load crispy_forms_tags %}

<h1>{{ context_object_name }}</h1>
<div id="form_div" class="card-body px-0 pt-0 pb-2">
    <div id="message-container">
    </div>

    <div hx-get="{% url render_url %}" hx-swap="innerHTML" hx-target="#table_div" hx-trigger="reloadTable from:body">
    </div>
    <div hx-get="{% url "cert_bound_error" %}" hx-swap="beforeend" hx-target="body" hx-trigger="certBoundError from:body">
    </div>
    <div hx-get="{% url "cert_bound_confirm" %}" hx-swap="beforeend" hx-target="body" hx-trigger="certBoundConfirm from:body">
    </div>

    <form id="target-form" hx-get="{% url render_url %}" hx-indicator="#spinner" hx-swap={{ swap|default:"innerHTML" }} hx-target={{ form_target|default:"#table_div" }} hx-trigger="submit">
        <div class="container-fluid py-4">

                    {% csrf_token %}
                    {% crispy form %}

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Buscar</button>
                <button type="button" class="btn btn-primary btn-block" hx-get="{% url 'empty' %}" hx-trigger="click"
                    hx-target="#table_div" hx-swap="innerHTML">
                    Limpiar Búsqueda
                </button>
                {% if render_form %}
                <button type="button" hx-get="{% url render_form %}" class="btn btn-primary btn-block"
                    hx-trigger="click" hx-target="#form_div" hx-swap="static">
                    Búsqueda Avanzada
                </button>
                {% endif %}


            </div>
        </div>
    </form>
</div>
<div style="display:block; vertical-align:middle; text-align:center" >
    <img id="spinner" class="htmx-indicator" src='{% static "img/loader.gif" %}'>
</div>
<div class="container-fluid py-4 card-body px-0 pt-0 pb-2">
    <div id="table_div" class="table-responsive p-0">
        {#% render_table table %#}
    </div>
</div>

{% endblock %}
