{% extends 'layouts/base.html' %}

{% block content %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load getattr %}
<h1>{{ context_object_name }}</h1>
<div class="card-body px-0 pt-0 pb-2">
<form hx-get="{% url render_url %}" hx-swap="afterbegin" hx-target="#table_div" hx-trigger="submit">
    <div class="container-fluid py-4">
        <table width="90%" style="margin-left: 10px;">
            {% comment %} Render the "Nueva Revisión" button {% endcomment %}
            <tr>
                <td><b>Buscar</b></td>
            </tr>
            <tr>
                {% for field in query_fields %}
                <td>
                    <label for="{{ ffield }}">{{ query_dict parsed_fields field }}</label>
                    <input id="{{ query_dict ids field }}" type="{{ query_dict types field }}" name="{{ field }}"
                        placeholder="Buscar..." class="form-control">
                </td>
                {% endfor %}
            </tr>
            <tr>
                {% for ffield, vals in form_fields.items %}
                <td>
                    <label for="{{ ffield }}">{{ query_dict parsed_fields ffield }}</label>
                    <select name="{{ ffield }}" id="{{ ffield }}" class="form-control">
                        <option value=""></option>
                        {% for val in vals %}
                        <option value="{{ val }}">{{ query_descriptions descriptions ffield val }}</option>
                        {% endfor %}
                    </select>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td>
                    <label for="tipo_documento">Tipo Documento</label>
                    <select name="tipo_documento" class="form-control" style="width: 100px;">
                        <option value=""></option>
                        <option value="DNI">DNI</option>
                        <option value="LC">LI</option>
                        <option value="LE">LE</option>
                        <option value="PAS">PAS</option>
                        <option value="CUIT">CUIT</option>
                    </select>
                </td>
                <td>
                    <label for="numero_documento">Nro. Documento</label>
                    <input type="text" name="numero_documento" style="width: 100px" maxlength="11"
                        class="form-control" />
                </td>
            </tr>
            <tr>
                {% if aux %}
                {% for format in view.export_formats %}
                <a href="{% export_url format %}">
                    <code>Descargar {{ format }}</code>
                </a>
                {% endfor %}
                {% endif %}
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary btn-block">Buscar</button>
        <button type="button" class="btn btn-primary btn-block" hx-trigger="click" hx-target="#table_div" hx-swap="static">
            Limpiar Búsqueda
        </button>
    </div>
</form>
</div>
<div class="card-body px-0 pt-0 pb-2">
    <div id="table_div" class="table-responsive p-0">
        {#% render_table table %#}
    </div>
</div>

<script>
    // Define the static HTML content you want to use for swapping
    const staticContent = '';

    // Add an event listener to the button
    const button = document.querySelector('button[hx-swap="static"]');
    button.addEventListener('click', function () {
        const target = document.querySelector(button.getAttribute('hx-target'));
        target.innerHTML = staticContent;
    });
</script>
{% endblock %}
