<!-- myapp/mymodel_list.html -->
{% extends 'layouts/base.html' %}

{% block content %}
<h1>My Model Table</h1>
<form method="GET">
  {% for field in query_fields %}
  <input type="text" name="{{ field.name }}" placeholder="Search...">
  {% endfor %}
  <button type="submit">Search</button>
</form>
<table>
  <thead>
    <tr>
      {% for field in fields %}
      <td>{{ field.name }}</td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      {% for field in fields %}
      {% load getattr %}
      <td>{% get_by_name object field.name %}</td>
      {% endfor %}
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No se encontraron objetos</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}