<!-- myapp/mymodel_list.html -->
{% extends 'layouts/base.html' %}

{% block content %}
{% load render_table from django_tables2 %}
<h1>{{ context_object_name }}</h1>
<form method="GET">
  {% for field in query_fields %}
  <h3>{{ field.name }}</h3>
  <input type="text" name="{{ field.name }}" placeholder="Buscar...">
  {% endfor %}
  <button type="submit">Buscar</button>
</form>
<div class="card-body px-0 pt-0 pb-2">
  <div class="table-responsive p-0">
    {% render_table table %}
  </div>
</div>
{% endblock %}