  <!-- Navbar -->
      {% load static %}
        <style>
          .container {
      max-width: 40%; /* Adjust the maximum width as needed */
      margin: 0 auto; /* Center the container horizontally */
    }

    .banner-container {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px; /* Adjust the margin as needed */
    }

    .image-container {
      display: flex;
      flex-direction: column;
    }

    .image-container img {
      margin-bottom: 10px; /* Adjust the margin between the images as needed */
    }

    @media (min-width: 768px) {
      .banner-container {
        margin-right: 20px; /* Increase the margin on larger screens */
         max-width: 30%
      }

      .image-container {
        flex-direction: row; /* Display images side by side on larger screens */
      }

      .image-container img {
        margin-bottom: 0; /* Remove margin between images on larger screens */
        margin-right: 10px; /* Add margin between images horizontally on larger screens */
      }
        }}
    </style>

  <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">

    <div class="container-fluid pe-0">

      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mt-2">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </span>
      </button>

      <div class="container" id="navigation">

        <div class="banner-container">
          <div class="banner-container">
            <img src="{% static 'img/logos/banner_logo1RTO.png' %}" class="h-9" alt="">
          </div>
          <div class="image-container">
            <img src="{% static 'img/logos/banner_logo5Fain.png' %}"  alt="">
            <img src="{% static 'img/logos/logo_gob_nqn.png' %}"  alt="">
            <img src="{% static 'img/logos/Seguridad_Vial.png' %}"  alt="">
          </div>

      </div>
    </div>
  </nav>
  <!-- End Navbar -->
