  <!-- Navbar -->
  {% load static %}
    <style>
        /* Base styles for the banner */
        .banner-container img {
            max-width: 50%; /* Default: full width */
            height: auto; /* Maintain aspect ratio and prevent distortion */
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
        }

        /* Media query for smaller screens */
        @media screen and (max-width: 768px) {
            .banner-container img {
                max-width: 50%; /* Full width for smaller screens */
            }
        }

        /* Media query for larger screens */
        @media screen and (min-width: 769px) {
            .banner-container img {
                max-width: 30%; /* 80% width for larger screens */
            }
        }
    </style>

  <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">

    <div class="container-fluid pe-0">

      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mt-2">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </span>
      </button>

      <div class="container" id="navigation">

        <div class="banner-container">
          <div class="banner-container">
            <img src="{% static 'img/logos/banner_logo1RTO.png' %}" class="h-9" alt="">
          </div>
          <div class="banner-container">
            <img src="{% static 'img/logos/banner_logo5Fain.png' %}"  alt="">
            <img src="{% static 'img/logos/logo_gob_nqn.png' %}"  alt="">
            <img src="{% static 'img/logos/Seguridad_Vial.png' %}"  alt="">
          </div>

      </div>
    </div>
  </nav>
  <!-- End Navbar -->
