{% load render_table from django_tables2 %}
{% load getattr %}
{% export_url_custom as export_url %}

{% if export_format %}
<a href="{% export_url export_format %}" >
<button type="button" class="btn btn-primary btn-block">
  Exportar Datos
</button>
</a>
{% endif %}
<div class="container-fluid py-4 card-body px-0 pt-0 pb-2">
  {% if item_count %}
  <div>{{ context_object_name }} totales: {{ item_count }}</div>
  {% endif %}
  <div class="table-responsive p-0">{% render_table table %}</div>
</div>
