[mysqld]
server-id=2
log-bin=mysql-bin
relay-log=relay-log
log-slave-updates=1
auto-increment-increment=2
auto-increment-offset=2
replicate-ignore-db=mysql

# Replication Configuration
master-host=40.87.111.221
master-user=replication_user
master-password=repl_pass2023
master-log-file=$FILL_WITH_MASTER_STATUS_FILE
master-log-pos=$FILL_WITH_MASTER_STATUS_COORDS
